<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<!-- ================ -->
	<!-- Appenders -->
	<!-- ================ -->

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
<!-- 			<param name="ConversionPattern" value="%d{ISO8601} [%5p] [%c] (%F:%L) %m%n" /> -->
			<param name="ConversionPattern" value="%d{ISO8601} [%5p] %m%n" />
		</layout>
	</appender>

	<!-- A time/date based rolling appender -->
	<appender name="WIREFILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="target/test-data/jclouds-wire.log" />
		<param name="Append" value="true" />

		<!-- Rollover at midnight each day -->
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<param name="Threshold" value="TRACE" />

		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date level [logger] Message\n -->
			<param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />

			<!-- The full pattern: Date MS level [logger] (Thread:NDC) Message\n <param 
				name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/> -->
		</layout>
	</appender>

	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="FILE" />
	</appender>

	<logger name="org.jooq">
		<level value="TRACE" />
	</logger>

	<!-- ================ -->
	<!-- Root -->
	<!-- ================ -->

	<root>
		<level value="TRACE" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
