<div class="panel panel-default">
	 <table class="table">
	 	<tbody>
	 		<tr>
	 			<td>Id</td>
	 			<td><%= id %></td>
	 		</tr>
	 		<tr>
	 			<td>Serial number</td>
	 			<td><%= serialNumber %></td>
	 		</tr>
	 		<tr>
	 			<td>State (last updates)</td>
	 			<td><%= state %> ( <%= updated %> )</td>
	 		</tr>	 		
	 		<tr>
	 			<td>OS</td>
	 			<td><%= deviceOsId %></td>
	 		</tr>
	 		<tr>
	 			<td>Type</td>
	 			<td><%= deviceTypeId %></td>
	 		</tr>
	 	</tbody>
	 </table>
