<dl class="dl-horizontal">
   <dt>Configuration</dt>
   <dd><%= config %></dd>
   <dt>Number of devices</dt>
   <dd><%= deviceCount %></dd>
   <dt>Date</dt>
   <dd><%= printDate(created) %></dd>
   <dt>Overall status</dt>
   <dd><span class="label label-<%= statusCssClass %>"><%= status %></dd>
</dl>
<table class="devicejobresults table table-bordered">
   <thead>
   <tr class="ui-widget-header">
      <th>#</th>
      <th>State</th>
      <th>Device</th>
      <th>Run</th>
      <th>Failed</th>
      <th>Errors</th>
      <th>Output</th>
   </tr>
   </thead>
</table>